<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>CustomForms</title>
  <link href="bootstrap-3.4.1/dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="bootstrap-3.4.1/dist/css/bootstrap-theme.css" rel="stylesheet"/>
  <script src="angular.js"></script>

  <style>
      *.error {
          color: red;
          font-weight: bold;
      }
  </style>
  <script type="text/ng-template" id="triTemplate">
    <div class="well">
      <div class="btn-group">
        <button class="btn btn-default">Yes</button>
        <button class="btn btn-default">No</button>
        <button class="btn btn-default">Not Sure</button>
      </div>
      <span class="error" ng-show="myForm.decision.$error.confidence">
                You need to be sure
</span>
    </div>
  </script>
  <script>
      angular.module("exampleApp", [])
          .controller("defaultCtrl", function ($scope) {
              $scope.dataValue = "Not Sure";
          })
          .directive("triButton", function () {
              return {
                  restrict: "E",
                  replace: true,
                  require: "ngModel",
                  template: document.querySelector("#triTemplate").outerText,
                  link: function (scope, element, attrs, ctrl) {
                      var validateParser = function (value) {
                          var valid = (value == "Yes" || value == "No");
                          ctrl.$setValidity("confidence", valid);
                          return valid ? value : undefined;
                      }
                      ctrl.$parsers.push(validateParser);
                      element.on("click", function (event) {
                          setSelected(event.target.innerText);
                          scope.$apply(function () {
                              ctrl.$setViewValue(event.target.innerText);
                          });
                      });
                      var setSelected = function (value) {
                          var buttons = element.find("button");
                          buttons.removeClass("btn-primary");
                          for (var i = 0; i < buttons.length; i++) {
                              if (buttons.eq(i).text() == value) {
                                  buttons.eq(i).addClass("btn-primary");
                              }
                          }
                      }
                      ctrl.$render = function () {
                          setSelected(ctrl.$viewValue || "Not Sure");
                      }
                  }
              }
          });
  </script>
</head>
<body ng-controller="defaultCtrl">
<form name="myForm" novalidate>
  <div>
    <tri-button name="decision" ng-model="dataValue"/>
  </div>
</form>
</body>
</html>